@media screen and (min-width: 769px){
	body{
		margin: 2%;
	}
	h1{
		text-align: center;
	}
	div.one{
		width: 45%;
		display: inline-block;
		background-color: gray;
		margin: 1%;
	}
	h2{
		background-color: red;
		color: white;
		float: right;
		border: 1px solid black;
	}
}
